.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

h1 {
  color: #000;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rocket-img,
.rocket-description {
  width: 43%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.reserve-rocket {
  background-color: #007bff;
  padding: 9px;
  font-size: 14px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.86);
}

.reserve-rocket:hover {
  cursor: pointer;
  color: #fff;
}

.description {
  color: rgb(63, 60, 60);
}

.canceled {
  border: none;
  border-radius: 4px;
  padding: 3px;
  height: max-content;
  background-color: #007bff;
  color: #fff;
}

.cancel-reservation {
  border: 2px solid #8c8e90;
  color: #8c8e90;
  border-radius: 3px;
}

.cancel-reservation:hover {
  cursor: pointer;
}

.single-card {
  border: 0.5px solid #cfcfcf;
  padding: 0 0 1em 0;
  border-radius: 10px;

  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.246);
  background: linear-gradient(
      45deg,
      transparent 15%,
      #d0d0dd 15%,
      #d0d0dd 20%,
      transparent 20%,
      transparent 80%,
      #d0d0dd 80%,
      #d0d0dd 85%,
      transparent 85%
    ),
    linear-gradient(
      135deg,
      transparent 15%,
      #d0d0dd 15%,
      #d0d0dd 20%,
      transparent 20%,
      transparent 80%,
      #d0d0dd 80%,
      #d0d0dd 85%,
      transparent 85%
    ),
    radial-gradient(
      circle at top,
      transparent 9%,
      #d0d0dd 10%,
      #d0d0dd 15%,
      transparent 16%
    ),
    radial-gradient(
      circle at bottom,
      transparent 9%,
      #d0d0dd 10%,
      #d0d0dd 15%,
      transparent 16%
    ),
    radial-gradient(
      circle at right,
      transparent 9%,
      #d0d0dd 10%,
      #d0d0dd 15%,
      transparent 16%
    ),
    radial-gradient(
      circle at left,
      transparent 9%,
      #d0d0dd 10%,
      #d0d0dd 15%,
      transparent 16%
    );
  background-size: .5em .5em;
  background-color: #ffffff;
  opacity: 1;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rocket-img,
  .rocket-description {
    width: 85%;
  }
}